.discount__price-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin: 85px 0 59px 0;
}

@media screen and (max-width: 500px) {
    .discount__price-container {
        margin: 60px 0 50px 0;
    }
}
