.promo__title {
    font-size: 144px;
    line-height: 152px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 1120px) {
    .promo__title {
        font-size: 115px;
    }
}

@media screen and (max-width: 1060px) {
    .promo__title {
        font-size: 100px;
        line-height: 110px;
    }
}

@media screen and (max-width: 760px) {
    .promo__title {
        font-size: 90px;
        line-height: 90px;
    }
}

@media screen and (max-width: 700px) {
    .promo__title {
        font-size: 75px;
        line-height: 80px;
    }
}

@media screen and (max-width: 590px) {
    .promo__title {
        font-size: 60px;
        line-height: 70px;
    }
}

@media screen and (max-width: 500px) {
    .promo__title {
        font-size: 45px;
        line-height: 60px;
    }
}

@media screen and (max-width: 400px) {
    .promo__title {
        font-size: 36px;
        line-height: 44px;
    }
}
