.header__menu-links {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 1240px) {
    .header__menu-links {
        gap: 20px;
    }
}

@media screen and (max-width: 1030px) {
    .header__menu-links {
        gap: 10px;
    }
}

@media screen and (max-width: 760px) {
    .header__menu-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        gap: 20px;
    }
}

@media screen and (max-width: 530px) {
    .header__menu-links {
        gap: 10px;
    }
}

@media screen and (max-width: 400px) {
    .header__menu-links {
        gap: 5px;
    }
}
